.jfx-button:armed,
.jfx-button:focused,
.jfx-button:default,
.jfx-button{
    -fx-font-family: "Arial Black";
    -fx-font-size: 28;
    -fx-text-alignment: center;
    -fx-text-fill: #FFFCEB;

    -fx-effect: dropshadow(three-pass-box, #22303f, 4, 0, 3, 3);
    -fx-border-width: 0 0 5 0;
    -fx-border-radius: 0;
    -fx-border-color: #22303f;
    -fx-background-color: #3e5c76;
    -fx-background-radius: 0;

    -fx-fit-to-height: 80px;
    -fx-background-size: 80px 80px;

}

.jfx-button:hover {
    -fx-scale-y: 1.04;
    -fx-scale-x: 1.04;
    -fx-cursor: hand;
}
.jfx-button:disabled{
    -fx-border-width: 0 0 0 0;
}