.jfx-button:armed,
.jfx-button:focused,
.jfx-button:default,
.jfx-button{

    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;

    -fx-border-width: 0 0 3 0;
    -fx-border-color: #701700;
    -fx-background-color: #a91818;

    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}