.jfx-button:armed,
.jfx-button:focused,
.jfx-button:default,
.jfx-button{
    -fx-font-family: "Alte Haas Grotesk Bold";
    -fx-font-size: 19;
    -fx-text-alignment: left;
    -fx-text-fill: #FFFCEB;

    -fx-border-color: #2c3e50;
    -fx-background-color: #22303f;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.jfx-button:hover {
    -fx-cursor: hand;
}
.jfx-button:disabled{
    -fx-border-width: 0 0 0 0;
}