@font-face {
    -fx-font-smoothing-type: gray;
    src: url("AlteHaasGroteskBold.ttf");
}

.label:disabled,
.label{
    -fx-font-smoothing-type: gray;
    -fx-font-family: "Alte Haas Grotesk Bold";
    -fx-text-fill: "#21232c";
}