@font-face {
    src: url("AlteHaasGroteskBold.ttf");
}

.jfx-button:armed,
.jfx-button{
    -fx-font-family: "Alte Haas Grotesk Bold";
    -fx-font-smoothing-type: gray;
    -fx-text-alignment: center;
    -fx-text-fill: #FFFCEB;
    -fx-effect: dropshadow(three-pass-box, #22303f, 3, 0, 2, 2);
    -fx-border-width: 0 0 4 0;
    -fx-border-radius: 0;
    -fx-border-color: #22303f;
    -fx-background-color: #2c3e50;
    -fx-background-radius: 0;
}
.jfx-button:focused{
    -fx-font-family: "Alte Haas Grotesk Bold";
    -fx-text-alignment: center;

    -fx-text-fill: #FFFCEB;
    -fx-cursor: hand;
}
.jfx-button:hover{
    -fx-font-family: "Alte Haas Grotesk Bold";
    -fx-text-alignment: center;
    -fx-text-fill: #FFFCEB;
    -fx-effect: dropshadow(three-pass-box, #22303f, 3, 0, 2, 2);
    -fx-border-width: 0 0 4 0;
    -fx-border-radius: 0;
    -fx-border-color: #22303f;
    -fx-background-color: #2c3e50;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-font-size: 19;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}